:root{
    --title-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;

    --color-title: #757575;
    --main-bg-cl: #FFFFFF;
    --main-agent-bg: #F5F4FA;
    --footer-bg: #2F303A;
    --icon-bg: #2196F3;
    --color-h: #212121;
}
body{
    font-family: var(--title-font);
    background-color: var(--main-bg-cl);
    color: var(--color-title);
}
/*reset styles*/
img {
    display: block;
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
p,
ul {
    padding: 0;
    margin: 0;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.main-nav {
  display: flex;
  align-items: center;
 
}
.section-header{
    border-bottom: 1px solid #ECECEC;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-gallery{
    padding-bottom: 94px;
}

/* Site nav */

.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    color: var(--color-h);
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color: var(--icon-bg);
}
.link .studio{
    color: var(--color-h);
}
.studio:visited,
.studio:hover,
.studio:active{
    color: var(--icon-bg);
}
.portfolio{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    color: var(--color-h);
    text-decoration: none;
}
.portfolio:visited,
.portfolio:hover,
.portfolio:active{
     color: var(--icon-bg);
}
.site-nav {
  display: flex;
  margin-left: 90px;
}
.site-nav .navigation + .navigation {
  margin-left: 50px;
}

/* Adress nav */
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .navigation + .navigation {
  margin-left: 50px;
}

.adress-company{
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--color-title);
text-decoration: none;
}
.adress-company:hover{
    color: var(--icon-bg);
}

/*Hero*/
.hero{
  max-width: 696px;
}
.dark-hero{
    padding-top: 200px;
    padding-bottom: 280px;

    background-color: var(--footer-bg);
}
.main-hero{
    
    padding-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--main-bg-cl);
    background: var(--footer-bg);
}
.enter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;

    border: none;
    border-radius: 4px;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

    font-family: var(--title-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;

    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: var(--color-h);
    background-color: var(--main-agent-bg);
}
.enter:hover{
    color: var(--main-bg-cl);
    background-color: var(--icon-bg);
}

/*Преимущества*/
.features{
    padding-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--color-h);
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.list-card{
    flex-basis: calc((100% - 4 * 30px) / 4);
    text-align: left;
}
.card-set .list-card + .list-card {
  margin-left: 30px;
}

/*Чем мы занимаемся */

.list-card-imagis{
    flex-basis: calc((100% - 3 * 30px) / 3);
    text-align: center;
}
.list-card-imagis .imagis-card + .imagis-card {
  margin-left: 30px;
}

/*Наша команда*/

.list-card-team{
    flex-basis: calc((100% - 4 * 30px) / 4);
    text-align: center;
}
.card-set .list-card-team + .list-card-team {
  margin-left: 30px;
}

.team{
    background-color: var(--main-agent-bg);
}
.footer-bg{
     background-color: var(--footer-bg);
}
.card-team{
    padding: 30px 0px;
    border: 1px solid #eee;
    border-radius: 0px 0px 4px 4px;
    border-top: none;
}
.title{
    padding-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--color-h);

}
.name-agents{
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color: var(--color-h);

}
.specifical{
    font-size: 16px;
    line-height: 1.2;

    letter-spacing: 0.03em;
}
.points{
    list-style-type: none;
}

/*footer*/
.footer-bg{
    display: flex;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.adreess-company{
    margin-top: 20px;
    font-style: inherit;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: var(--main-bg-cl);

}

.logo{
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #000000;
}
.logo-footer{
    font-family: var(--logo-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;

    color: var(--main-bg-cl);
}
.web-blue{
    color: var(--icon-bg);
}
.name-links{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--color-h);
}
.categories{
font-weight: 400;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
color: var(--color-title);
}
.line{
    text-decoration: none;
}



/*Вторая страница*/

.enter-portfolio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 22px;

    border: none;
    border-radius: 4px;

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

    font-family: var(--title-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;

    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: var(--color-h);
    background-color: var(--main-agent-bg);
}
.enter-portfolio:hover{
    color: var(--main-bg-cl);
    background-color: var(--icon-bg);
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
.portfolio-card {
    flex-basis: calc((100% - 30px * 3) / 3);
    margin-left: 30px;
    margin-top: 30px;
}
.portf-card-block{
    padding: 20px 24px;
    border: 1px solid #eee;
    border-top: none;
}
.flex-element:nth-child(3n){
    margin-right: 0;
}
.filtr-list{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.filtr-list-item:not(:last-child) {
    margin-right: 8px;
}